html, body{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
}


.redbox{
    background-color: red;
    position: absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    display:flex;
}

.bluebox{
    background-color: blue;
    position: absolute;
    top:144px;
    left:141px;
    display:flex;
    width:100px;
    height:100px;
}

.yellowbox{
    background-color: yellow;
    position:absolute;
    top:289px;
    left:0;
    display:flex;
    width:150px;
    height:150px;
}


.general{
    display: flex;
    margin: auto;
    justify-content: center;
}



nav{
    background-color: #D6EFFF;
    position: absolute;
    right: 100px;
    bottom: 0;
    float: right;
}

